/*
|--------------------------------------------------------------------------
| Message Bar
|--------------------------------------------------------------------------
*/
.fnm-msg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffb400;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 15px;
    text-align: center;
}
.fnm-msg.error-msg {
    background: #900;
    color: #fff;
}
.fnm-msg.success-msg {
    background: #590;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| Subscribe Box
|--------------------------------------------------------------------------
*/

.subscribe-box {
    background: #1a7def;
    color: #fff;
    padding: 30px;
    min-width: 300px;
    z-index: 9;
}

.subscribe-box .title {
    font-size: 18px;
    text-transform: uppercase;
}

.fnm-form .field-group {
    margin-bottom: 15px;
}

.fnm-form .field-group label {
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.fnm-form .field-group input {
    display: block;
    width: 100%;
    border: 2px solid #222;
    padding: 5px 0;
    text-indent: 10px;
    line-height: 28px;
    font-size: 13px;
}

button.fnm-btn {
    background: #222;
    color: #fff;
    padding: 10px 10px;
    font-size: 13px;
    border-radius: 3px;
}

button.fnm-btn:hover {
    background: #1a7;
}